{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户注册{% endblock %}

{% block css %}
    {# 添加css样式时，需要在母版或者这里加上style标签 #}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
     <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="account">
         <div class="title">用户注册</div>

        <form id="regForm" method="POST" novalidate>
        {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default"
                                                         value="点击获取验证码"></div>
                        </div>
                    </div>

                {% else %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-3">
                    <input id="btnSubmit" type="button" class="btn btn-primary" value="注  册"/>
                </div>
            </div>

        </form>



    </div>

{% endblock %}


{% block js %}
    <script>
    //页面加载完成自动执行函数
    $(function () {
        bindclickBtnSms();
        bindClickSubmit();
    })

           /*
        点击提交（注册）
        */
        function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                $('.error-msg').empty();
                // 收集表单中的数据（找到每一个字段）$('#regForm').serialize()
                // 数据ajax发送到后台
                $.ajax({
                    url: "{% url 'register' %}",
                    type: "POST",
                    data: $('#regForm').serialize(), // 所有字段数据 + csrf token
                    dataType: "JSON",
                    success: function (res) {
                        if(res.status){
                            location.href = res.data;
                        }else{
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

    //点击获取验证码按钮绑定事件
    function bindclickBtnSms() {
        $('#btnSms').click(function () {

            $('.error-msg').empty();

            //根据手机号输入框id获取手机号
            var mobilePhone = $('#id_mobile_phone').val();

            //发送ajax请求
            $.ajax({
                url: "{% url 'send_sms' %}",//反向生成url
                type :"GET",
                data: {mobile_phone:mobilePhone, tpl:"register"},
                dataType: "JSON", // 将服务端返回的数据反序列化为字典
                success: function (res) {
                    if (res.status) {
                            sendSmsRemind();
                        } else {
                            // 错误信息
                            // console.log(res); // {status:False, error:{ mobile_phone: ["错误信息"，],code: ["错误信息"，] }  }
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }

                }
            })
        })

    }
         /*
        倒计时
         */
        function sendSmsRemind() {
            var $smsBtn = $('#btnSms');
            $smsBtn.prop('disabled', true); // 禁用
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + '秒重新发送');
                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)

        }
</script>

{% endblock %}